{% extends 'base.html' %}

{% block title %}发新帖{% endblock %}

{% block content %}
<h1>发新帖</h1>
<form method="post">
  {% csrf_token %}
  <div class="form-floating">
    <input class="form-control" id="floatingInput" name="title" placeholder="标题"></input>
    <label for="floatingTextarea">标题：</label>
  </div><br/>
  <div class="form-floating">
    <textarea class="form-control" name="content" placeholder="内容" id="floatingTextarea2" style="height: 400px"></textarea>
    <label for="floatingTextarea2">内容:</label>
  </div><br/>
  <button type="submit" class="btn btn-primary">提交</button>
</form>
{% endblock %}
